<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Engineering Service</h2>
    </div>

    <div class="col-sm-4">
        <%= image_tag "https://s3.amazonaws.com/scdewebimg/dectector.png", class: "img-responsive img-thumbnail" %>
        <h3>CAD Modeling</h3>
        <p>CAD is mainly used for detailed engineering of 3D models and/or 2D drawings of physical components, 
        but it is also used throughout the engineering process from conceptual design and layout of products 
        and assemblies to definition of manufacturing methods of components. </p>
    </div>

    <div class="col-sm-4">
        <%= image_tag "https://s3.amazonaws.com/scdewebimg/assm.png", class: "img-responsive img-thumbnail" %>
        <h3>Technical Drawings</h3>
        <p>3D CAD models look great but most manufactures and suppliers require high quality drawings.  Part and assembly
        dimensions, tolerances, and specifications are called out in a clear recognizable fassion.</p>
    </div>

    <div class="col-sm-4">
        <%= image_tag "https://s3.amazonaws.com/scdewebimg/fea.png", class: "img-responsive img-thumbnail" %>
        <h3>Engineering Calculations</h3>
        <p>Both hand calculations and computer modeling(FEA-Finite Element Anaysis) are used to validate design assumptions.</p>
    </div>
</div>