<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Prototyping Service</h2>
    </div>

    <div class="col-sm-4">
        <%= image_tag "cnc.png", class: "img-responsive img-thumbnail" %>
        <h3>CNC Machining</h3>
        <p>CNC machining can offer a cost effective way to product prototype, enabling you to test products 
        in realistic enviromental conditions.</p>
        <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="col-sm-4">
        <%= image_tag "sls.png", class: "img-responsive img-thumbnail" %>
        <h3>Polyjet &amp; SLS/SLA</h3>
        <p>Colectivly know as 3D printing, these processes use small dropples of material to build up a 
        ptototype one layer at a time..</p>
        <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="col-sm-4">
        <%= image_tag "cast.png", class: "img-responsive img-thumbnail" %>
        <h3>Cast Urethane</h3>
        <p>Cast urethane offers a cost effective way to produce low volume molded parts.</p>
        <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
    </div>
</div>