<div class="row">
    <div role="tabpanel">
        
        <%= render 'tabs' %>
        
        <div class="tab-content">
        
            <div role="tabpanel" class="tab-pane active" id="home">
                <i class="fa fa-gear pull-left fa-4x"></i>
                <p>Engineering Services</p>
                <p>Mechanical Engineering and Computer Aided Design.</p>
            </div>
            
        </div>
    </div>
</div>