<div class="row">
    <div class="col-md-12">
        <%= image_tag "people.jpg", class: "img-responsive" %>
    </div>
</div>
    
<div class="row">
    <div class="col-md-8">
        <h2 class="page-header">Our Services</h2>
            <p id= "home">We are dedicated to assisting you every step of the way in your product development process, 
            so if you need something that isn’t listed here, just drop us a line via phone or email.  
            If we can’t help you, we can at least point you to someone that can.</p>
    </div>
    <div class="col-md-4">
        <h2 class="page-header">Want More?</h2>
            <p>Contact us today to find out how we can help you with your engineering needs.</p>
            <%= link_to "Contact Today", contact_path, class: "btn btn-primary" %>
    </div>
</div>
