<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Photorealistic Images</h2>
    </div>

    <div class="col-sm-4">
        <%= image_tag "yellow.png", class: "img-responsive img-thumbnail" %>
        <h3>Investor Quality Images</h3>
        <p>The capabilities of the new Vietags Smart Bracelets are almost endless.  
        Our high quality images make it easy to show your investors the product
        without the capital costs of manufacturing..</p>
        <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="col-sm-4">
        <%= image_tag "mix.png", class: "img-responsive img-thumbnail" %>
        <h3>Realistic Placements</h3>
        <p>A new design in drinkware deserves a high quality image to show your product in a real world enviroment.</p>
        <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
    </div>

    <div class="col-sm-4">
        <%= image_tag "rocks.png", class: "img-responsive img-thumbnail" %>
        <h3>Added Effects</h3>
        <p> High quality images are great for showing off you product in it's indended use.</p>
        <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
    </div>
</div>