<% provide(:prototype, "active") %>

<%= render 'title' %>

<section>
    <div class="container">
      <div class="animated fadeIn">
        
        <%= render 'top' %>

            <div class="row">
                <div role="tabpanel">
                
                    <%= render 'tabs' %>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                    
                        <div role="tabpanel" class="tab-pane active" >
                            <i class="fa fa-wrench pull-left fa-4x"></i>
                            <p>Prototyping Services</p>
                            <p>Form - Fit - Function.  We create physical prototypes that alow design verification and modifications
                            before you commit capital for production</p>
                        
                    </div>
                
                </div>
            </div>

        <%= render 'prototype_images' %>
    </div>
  </div>
</section>