<h4>About</h4>
<p>Get the lastest news and information about SunCoast Design and Engineering, LLC.</p><hr>
  <ul class="list-unstyled list-inline">
    <h4>
    <li><%= link_to 'Frequently Asked Questions', faq_path %></li>
    </h4>
  </ul><hr>


  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://www.linkedin.com/company/9294463?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9294463%2Cidx%3A3-4-7%2CtarId%3A1459767425753%2Ctas%3Asuncoast%20de">LinkedIn</a></li>
      <li><a href="https://www.facebook.com/suncoastde/?fref=ts">Facebook</a></li>
      <li><a href="https://twitter.com/SunCoastDE">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCSDX9yOBd9Y11ipNmOM-KEA">YouTube</a></li>
    </ol>
  </div>
  <hr>
  <div class="sidebar-module">
    <h4>Archives</h4>
      <% @articles_by_month.each do |month_field, articles| %>
        <h3="month-archive"><%= month_field.strftime('%B %Y') %></h3>
        <ul class="archive-list">
           <% articles.each do |article| %>
          <li><%= link_to article.title, article_path(article) %></li>
          <% end %>
        </ul>
      <% end %>
  </div>
