<% provide(:news, "active") %>
<section class="section-title">
    <div class="container">
      <h1>Media<small> What's going on?</small></h1>
    </div>
</section>

<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <li class="active">Media</li>
          </ol>
        </div>
      </div>
  </div>
</section>

<section>
  <div class="container custom-blog-container">
    <div class="row">
      <div class="col-sm-8 blog-main">
      <h2>Listing all articles</h2>
      <%= link_to "New article", new_article_path, class: "btn btn-primary" %>
      <hr>
      
      <%= render 'articles', obj: @articles %>
    
      </div><!-- /.blog-main -->
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <%= render 'sidebar' %>
          </div>
      </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section>