<% provide(:contact, "active") %>

<section class="section-title">
    <div class="container">
      <h1>Contact<small> Get In Touch</small></h1>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><%= link_to "Home", root_path %></li>
                    <li class="active">Contact</li>
                </ol>
            </div>
        </div>
    </div>
</section>
        
<section>
    <div class="container">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-8">
                    <div class="video-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3553.8740257878776!2d-82.21699944942861!3d27.034146332992403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dcab4b53470201%3A0x1b10340a9476adc!2sNorth+Port%2C+FL+34287!5e0!3m2!1sen!2sus!4v1459560375645" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                    
                    <%#= render 'contact_form' %>
                    
                </div>
                <div class="col-md-4">
                    <h3>Contact Details</h3>
                    <p>
                    14896 - Unit C103<br>North Port, FL 34287<br>
                    </p>
                    <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone"></abbr>: +1 (844) 457-9426</p>
                    <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email"></abbr>: <a href="mailto:info@suncoastde.com">info@suncoastde.com</a>
                    </p>
                    <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours"></abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
                    <ul class="list-unstyled list-inline list-social-icons">
                        <li>
                            <a href="https://www.facebook.com/suncoastde/?fref=ts"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/9294463?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A9294463%2Cidx%3A3-4-7%2CtarId%3A1459767425753%2Ctas%3Asuncoast%20de"><i class="fa fa-linkedin-square fa-2x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/SunCoastDE"><i class="fa fa-twitter-square fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>