<% provide(:news, "active") %>
<section class="section-title">
    <div class="container">
      <h1>Media<small> What's going on?</small></h1>
    </div>
</section>

<section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Articles", articles_path %></li>
            <li class="active">Media</li>
          </ol>
        </div>
      </div>
  </div>
</section>
<section>
    <div class="container custom-blog-container">
        <div class="row">
          <div class="col-sm-8 blog-main">
              <ul class="faq-list">
                  <h3>FAQ's</h3>
            <li>Q: Are you an “Inventor’s Help” company?
            <p>A: No. We’re a design and engineering company that specializes 
            in product development. We can take a concept, create CAD drawings,
            produce a prototype, source tooling and manufacture of the product, 
            assemble it if needed, package it for the retail market or wholesale 
            distribution, and drop ship directly to your customers. We won’t try 
            to sell you any type of package or anything you don’t need and will 
            do our best to find a solution in your budget.</p></li>

            <li>Q: Can I trust you with my intellectual property?
            <p>A: We deal in the business of intellectual property, we wouldn’t last too 
            long if we stole ideas. We are happy to sign a non-disclosure agreement (NDA) 
            before you discuss your project with us. If you don’t have an NDA, you can download 
            ours from this link. <a href="https://s3.amazonaws.com/scdewebimg/NDA.pdf" download="NDA">Download the NDA</a>.</p></li>

            <li>Q: Why won’t other engineering firms return my calls?
            <p>A: Most engineering firms specialize in particular areas of the product development 
            process (design, prototyping, packaging, testing); they are typically only interested 
            in the big accounts provided by large companies and won’t bother with inventors or small 
            companies. That’s unfortunate, but we’ve designed our company to address this market. 
            No matter how small your company is (even if it’s just you), we’ll always return your call.</p></li>
            
            <li>Q: This is a side project I’m working on and I have a day job; can I call after hours or on weekends?
            <p>A: Yes, all calls go to our cell phones and we return all voicemails and emails within 
            48 hrs. You can also email us at <a href="mailto:info@suncoastde.com">info@suncoastde.com</a></p></li>
            
            <li>Q: I’ don’t know the first thing about how to proceed with my idea, should I be embarrassed to call you?
            <p>A: No, many of the people we work with are new to the product development process. One of 
            our goals is to break down the barrier between idea and reality, so we’re happy to help you learn the ropes.</p></li>

            <li>Q: Should I only call if I’m ready to move forward with my idea.
            <p>A: No, call at anytime, whether you’re still in the ideation phase or ready to go to 
            production. We’re happy to provide whatever information we can.</p></li>

            <li>Q: How long does the product development process take?</p>
            <p>A: That’s impossible to say without getting more information about your specific project.</p></li>

            <li>Q: I think I know how I want my design to work, but I’m not sure if it’s really ready for production. 
            Can you help finalize the design?
            <p>A: Yes. We are a design and engineering firm, we can offer design calculations and simulations of
            your invention. While we cannot guarantee your invention will be successful, we will use our years 
            of experience to develop the best possible solutions.</p></li>
            
            <li>Q: What are CAD drawings and do I need them?
            <p>A: Computer-aided design (CAD), also known as computer-aided drafting (CAD) is the use of 
            computers to assist in the creation of a design.  CAD drawings are a 2D representation of a product 
            that contains necessary dimensional or assembling data that can be given to a supplier.  Don’t worry 
            though, we can take care of those too.</p></li>
            
            <li>Q: Another design firm has been working on my product, will you still work with me?
            <p>A: Of course; whether the design needs more work or is ready for production, we’d be happy to help where we can.</p></li>
            
            <li>Q: All I have is a crude prototype/napkin drawing/idea in my head, can you still help?
            <p>A: As long as you can fully articulate your idea to us, even if an idea is all you have, we can help.</p></li>
            
            <li>Q: If I start the development process with you, am I locked in with you going forward?
            <p>A: No, whatever product development we do complete for you is yours to do with as you see fit.</p></li>

            <li>Q: I have a crude prototype, but I would like something more professional to show potential customers 
            or investors.  Can you help?
            <p>A:  Yes.  There are many ways to create professional looking prototypes, from 3D printing to CNC 
            machining, we’ll work with you to determine what’s best for you and to get it produced.</p></il>
            
            <li>Q: I keep hearing about how great this new 3D printing technology is, can you provide a 3D print of my product?
            <p>A: As great as 3D printing is, it’s not right for everything.  We’ll work with you to determine the best 
            method to create a rapid prototype of your product based on your requirements.  If you really just 
            want a 3D print because it’s cool, no problem, we can do that too.</p></il>
            
            <li>Q: I know that most production companies require minimum quantity orders, but I’m not ready to commit 
            to a large order until I’m sure I can sell them. Can I start with a small order?
            <p>A: Yes.  Although there are always minimum order quantities, we’ll work with you to find a minimum 
            quantity that works for both of us.</p></il>
            
            <li>Q: I don’t live close to you, will I need to visit to start the project?
            <p>A: No.  We can kick things off via video chat or phone call, but some more complicated projects 
            may require visits to the office.  You can always just stop by while your on vacation, we are located 
            on the Gulf coast of Florida after all.</p></il>
            </ul>
            </div>
        </div>
    </div>
</section>
